# This is a basic workflow to help you get started with Actions

name: Download tasks

# Controls when the workflow will run
on:
  workflow_dispatch:
  schedule:
    - cron: "22 2 * * *"

# Reject all permissions by default
permissions: {}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Permissions required for this job
    permissions:
      contents: write      # Read repository contents and create/update releases and their assets
      actions: read        # Read actions for GitHub CLI operations

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          lfs: true

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          check-latest: true

      - run: |
          .\build.ps1
        shell: pwsh
        env:
          AZURE_DEVOPS_PAT: ${{ secrets.AZURE_DEVOPS_PAT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: Download tasks and build side-by-side versions.

      - run: |
          .\publish-extensions.ps1
        shell: pwsh
        name: Publish extensions
        env:
          AZURE_MARKETPLACE_PAT: ${{ secrets.AZURE_MARKETPLACE_PAT }}
